.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 16px;
}

.card__image {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 140px;
}

.card__info {
  display: flex;
  flex-direction: column;
  background: var(--black);
  color: var(--white);
  min-height: 150px;
  padding: 5px;
}

.card__footer {
  margin-top: auto;
  display: flex;
}
